.lorum {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;

}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    background-color: #BDBDBD22;
    gap: 20px;
    margin-top: 70px;

}

.mission1 {
    display: grid;
    grid-template-columns: 1 fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.mission1__title {
    display: grid;
    grid-column: 1/3;
    grid-row: 1/2;
}

.text1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-right: 50px;


}

.text2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 50px;
}

.about__pic1 {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 20px;
}

.about__pic2 {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/3;
    justify-items: start;
    margin-top: 50px;

}

.pic3 {
    display: grid;
    grid-column: 1/2;
    grid-row: 2/3;

}

.text {
    display: grid;
    grid-column: 3/4;
    grid-row: 1/2;
}


.name_project {
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;

    justify-items: center;
}

.pic {
    display: grid;
    grid-column: 2/3;
    grid-row: 1/2;
    justify-items: end;

}

h1,
h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
}

.about__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
}